body{
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.people{
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 40px 30px;

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 200px);
  }
}

.person{
  width: 200px;

  display: flex;
  justify-content: center;
  flex-direction: column;  
  row-gap: 8px; 


  & .details{
    text-align: center;

    & .name{
      color: #2F4F4F;
      font-size: 20px;
      
    }

    & .extra{
      display: none;
      color: #000000;
      font-size: 18px;
      margin-top: 9px;
    }
  }

  &:hover{
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 10px;
    background-color: #EEEEEE;
  }

  &:hover img{
    border-radius: 0%;
  }

  &:hover .extra {
    display: block;
   }
}

.photo{ 
  position: relative;
  margin-bottom: 9px;

  transition: border-radius 1s;

  & img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  }

  & .rank{
    position: absolute;
    top: 84px;
    right: 10px;

    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: #8B0000;
    background-color: #ffffff;
  }

  
}
